body {
    background-color: black;
}

.big_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.container {
    background-color:rgb(83, 109, 116);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(124, 124, 124);
    display: grid;
    grid-template-columns: 2fr;
}

.centerBtn {
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: absolute;
    left: 45%;
    border: 1px solid black;
}

.bottomBtn {
    align-items: center;
    height: 40px;
    width: 60px;
    margin: 20px;
    border: 1px solid black;
    position: absolute;
    left: 22%;
}

#numbers {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    position: relative;
    margin: auto;
    font-weight: bold;
}