* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
@media (max-width: 530px) {
	body,
	html {
		position: relative;
		overflow-x: hidden !important;
	}
	.hamburger {
		display: flex !important;
		opacity: 0;
        transition: 0.3s;
	}

    .hamburger.active {
        transform: rotate(90deg) translate(10px, 8px);
        color: #bc3e57a4;
        
    }
	.nav__links {
		opacity: 1;
		position: absolute;
		top: 8vh;
		width: 100vw;
		height: 92vh;
		right: 0;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background: #000000;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}
	.nav__links.active {
		transform: translateX(0%);
	}
	.nav__links li {
		margin-left: 0;
		opacity: 1;
	}
	.soundcloud--player {
		display: block;
		width: 100% !important;
	}
    .content {
        transform: translateX(0%);
        transition: 0.3s ease-in;
    }
	.content.active {
        visibility: hidden;
		opacity: 0;
        transform: translateX(-50%);
		transition: 0.3s ease-out;
	}
	img {
		z-index: 1;
	}

}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: #0e0f3a;
	line-height: 1.9;
	background-image: linear-gradient(270deg, #213435, #000000);
}

button:focus {
	outline: none;
}

img {
	transition: filter 0.5s;
	border-radius: 40%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;
	width: 100%;
	padding: 0 6rem;
	z-index: 100;
	background-color: #000000;
	font-family: "OCR A Std";
}

.hamburger {
	display: none;
	opacity: 100%;
	width: 32px;
	height: 32px;
	align-items: center;
	list-style: none;
	background-color: #000000;
	color: #00b9bd;
	border: none;
	outline: none;
	font-size: 1.7rem;
}

.nav.sticky {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
	height: 5rem;
	/*transition: all 0.3s;*/
	transition: transform 0.2s;
}
.nav__logo:hover {
	transform: scale(1.7);
}

.nav__links {
	display: flex;
	align-items: center;
	list-style: none;
	color: #00b9bd;
}

.nav__item {
	margin-left: 4rem;
}

.nav__item:hover {
	color: #bc3e57a4;
}

.nav__link:link,
.nav__link:visited {
	font-size: 1.7rem;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
	padding: 0.8rem 2.5rem;
	border-radius: 3rem;
	background-color: #00b9bd;
	color: #1c1e8d;
}

.nav__link--btn:hover,
.nav__link--btn:active {
	color: inherit;
	background-color: #bc3e57a4;
	color: #8d1c84;
}

.header__title {
	flex: 1;
	max-width: 100%;
	display: grid;
	row-gap: 3rem;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	height: 150px;
	text-shadow: 5px 5px 5px #0e0f3a;
}

.header__footer {
	padding-top: 50px;
	flex: 1;
	max-width: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

h1 {
	font-size: 5.5rem;
	line-height: 1.35;
	color: #00b9bd;
}

.highlight {
	text-shadow: none;
	opacity: 0.3;
	color: linear-gradient(to bottom left, #213435, #bc3e57a4);
}

.highlight-music {
	text-shadow: none;
	-webkit-filter: blur(1.5px);
	-moz-filter: blur(1.5px);
	-o-filter: blur(1.5px);
	-ms-filter: blur(1.5px);
	filter: blur(1.5px);
}

.highlight-music:hover {
	transition: all 0.3s;
	transform: scale(1.07, 1.05) skewX(-15deg);
	color: #bc3e57a4;
	cursor: pointer;
	text-shadow: none;
	filter: none;
}

.sectionDisplay {
	padding: 10rem 3rem;
	border-top: 1px solid #ddd;
	transition: transform 1s, opacity 1s;
	align-items: center;
	border-top: 1px solid #bc3e57a4;
	color: #f3f3f3;
}

#section--2 {
	background-image: linear-gradient(270deg, #213435, #000000);
}

.section__title h2 {
	max-width: 80rem;
	margin: 0 auto 8rem auto;
	align-items: center;
	display: flex;
	color: #f3f3f3df;
	justify-content: flex-start;
}

.highlight-video {
	text-shadow: none;
	-webkit-filter: blur(1.5px);
	-moz-filter: blur(1.5px);
	-o-filter: blur(1.5px);
	-ms-filter: blur(1.5px);
	filter: blur(1.5px);
}

.highlight-video:hover {
	transition: all 0.3s;
	transform: scale(1.07, 1.05) skewX(-15deg);
	color: #bc3e57a4;
	cursor: pointer;
	text-shadow: none;
	filter: none;
}

.video {
	position: relative;
	border: 0;
	margin: auto;
	align-items: center;
}

.video--player {
	display: block;
	margin: 0 auto;
	width: 70%;
	box-shadow: 10px 10px 5px black;
	backdrop-filter: blur(15px);
}

.soundcloud {
	display: none;
	align-items: center;
}

.soundcloud a {
	font-size: 10px;
	color: #cccccc;
	line-break: anywhere;
	word-break: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
		Garuda, Verdana, Tahoma, sans-serif;
	font-weight: 100;
	text-decoration: none;
}

.soundcloud--player {
	width: 49%;
	padding: 5px;
	color: #240444;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.arrow-btn {
	display: inline-block;
	background: none;
	font-size: 1.7rem;
	font-family: inherit;
	font-weight: 500;
	color: inherit;
	border: none;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	cursor: pointer;
	transition: all 0.5s;
}

.highlight-text::after {
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: linear-gradient(to bottom left, #213435, #bc3e57a4);
}
