body {
  display: center;
  background: black;
  background-image: url("../img/bg.jpg");
  margin: 0px;
}

h1 {
  font-family: "fine style";
  font-size: 50px;
  line-height: 1.3;
  padding: 0px;
  margin: 40px;
  text-align: center;
  color: white;
  position: relative;
  animation: titlemove 5s infinite;
  animation-iteration-count: 1;
}

.header_btn {
  font-family: "fine style";
  display: center;
  height: 50px;
  width: 100px;
}

.hidden {
  display: none;
}

.overlay {
  filter: blur(5px);
  backdrop-filter: blur(3px);
}

img:hover {
  transform: scale(1.35);
}

.myDiv {
  padding-block: 5px;
}

.wallimg {
  max-width: 25%;
  max-height: 30%;
  object-position: center;
  transition: transform 0.2s;
  margin: 4%;
}

.wallimg2 {
  max-width: 25%;
  max-height: 30%;
  object-position: center;
  transition: transform 0.2s;
  margin: 4%;
}

.wallimg3 {
  max-width: 25%;
  max-height: 30%;
  object-position: right;
  transition: transform 0.2s;
  margin: 4%;
}

.wallimg4 {
  max-width: 25%;
  max-height: 30%;
  object-position: right;
  transition: transform 0.2s;
  margin: 4%;
}

.wallimg5 {
  max-width: 25%;
  max-height: 30%;
  object-position: right;
  transition: transform 0.2s;
  margin: 4%;
}

.wallimg6 {
  max-width: 25%;
  max-height: 30%;
  object-position: right;
  transition: transform 0.2s;
  margin: 4%;
}

.audioPage {
  display: top;
}
